body {
    background-color: #000;
    color: #fff;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

code {
    font-size: 1.2em;
    word-break: break-all;
}

#logo {
    color: #000;
    width: 100%;
    background-color: #B4F6FF;
    font-size: 1.15em;
}

#logo #name {
    margin-left: 5px;
    font-weight: bold;
}

#nav {
    width: 100%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #B4F6FF;
}

#nav ul {
    margin-top: 0;
    padding: 0;
}

#nav ul li {
    display: inline;
}

#nav a {
    text-decoration: none;
    background-color: #82DEEB;
    margin-left: 5px;
    color: #000;
}

#nav a:hover {
    color: #fff !important;
}

#nav a:visited {
    color: #000;
}

#main {
    max-width: 80%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 60px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: normal;
    hyphens: auto;
}

#main img {
    max-width: 80%;
}

a {
    text-decoration: none;
    color: #3A7EFF;
}
a:visited {
    color: #3A7EFF;
}
a:hover {
    text-decoration: revert;
}

a.header-link {
    color: #fff;
    text-decoration: none;
}
a.header-link:hover {
    text-decoration: revert;
}

#footer {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: normal;
    hyphens: auto;
}
